 ::-webkit-scrollbar {
         width: 20px;
     }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
 .left_box {
     text-align: center;
     width: 200px;
     height: 200px;
     background: #212226;
     margin-top: -312px;
     margin-left: -8px;
 }